<h1 style = "color : #3D737D; text-align : center;"><em>City Hospital</em> - Data Preprocessing & Exploratory Analysis</h1>
<br>
<p style = "font-size : 12px; text-align: center;"><b>NOVA IMS</b></p>
<p style = "font-size : 10px; text-align: center;">Data Preprocessing and Visualization</p>
<p style = "font-size : 10px; text-align: center;">GROUP 8: Diogo Gonçalves, João Marques, Juan Mendes & Gustavo Franco</p>
<br>

<h3  style = "color : #3D737D;"> Imports</h3>

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [30]:
plt.style.use('ggplot')

<hr style = "border: 3px solid #3D737D;">
<h2  style = "color : #3D737D;text-align : center;"> Part A - Data Understanding & Cleaning</h2>

<h3 style = "color : #3D737D;">Dataset Reading </h3>
<p style = "font-size : 15px;">Reading of dataset from <code>Project Data.xlsx</code> file</p>
<p>The dataset is in a <code>.xlsx</code> file, and uses <code>|</code> as a separator. The first row of the file is also blank, so we read it using <code>skiprows = 1</code>. </p>

In [31]:
project_data = pd.read_excel('Project Data.xlsx')

In [32]:
project_data.head()

,Patient ID,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
0,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,110,2,38839.0,293.014042,0.0
1,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,76,4,52219.0,287.208982,0.0
2,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,17,5,41491.0,241.254507,0.0
3,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,15,3,34944.0,221.177483,0.0
4,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,99,1,39248.0,219.743794,0.0

In [33]:
project_data.shape

(10008, 16)

In [34]:
project_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Patient ID                 10008 non-null  int64
 1   Age                        9952 non-null   float64
 2   Gender                     10008 non-null  object
 3   City of Residence          10008 non-null  object
 4   Profession                 10008 non-null  object
 5   Insurance Provider         8098 non-null   object
 6   Family History             8015 non-null   object
 7   Education Level            9979 non-null   object
 8   Marital Status             10008 non-null  object
 9   Visit Date                 10008 non-null  datetime64[ns]
 10  Department                 10008 non-null  object
 11  Consultation Duration      10008 non-null  int64
 12  Satisfaction Level         10008 non-null  int64
 13  Approximate Annual Income  9854 non-null   float64
 14  Consultation Price         10008 non-null  float64
 15  Insurance Coverage         9958 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(8)
memory usage: 1.2+ MB

<h3 style = "color : #3D737D;">Variable Analysis</h3>
<p style = "font-size : 15px;">Analysis of the skewness and outliers of the variables of <code>Project Data.xlsx</code> file without missing values.</p>

In [35]:
numerical_cols = [
    'Age', 
    'Consultation Duration', 
    'Satisfaction Level',
    'Approximate Annual Income', 
    'Consultation Price', 
    'Insurance Coverage'
]

In [36]:
def outliers_finder(col):
    q1 = col.quantile(0.25)
    q3 = col.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    left_outliers = col[(col < lower_bound)]
    right_outliers = col[(col > upper_bound)]
    outliers = pd.concat([left_outliers, right_outliers])
    return outliers

In [37]:
new_col = outliers_finder(project_data['Approximate Annual Income'])
new_col

170           0.0
171           0.0
172           0.0
173           0.0
174           0.0
          ...
9646      88873.0
9651     110405.0
9652      99209.0
9654    1153050.0
9655     105697.0
Name: Approximate Annual Income, Length: 2288, dtype: float64